html {
  box-sizing: border-box;
  height: 100%;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  height: 100%;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #222;
  background-color: #2980b9;
  margin: 0;
  padding: 0;
}

img{
  width: 100%;
  height: auto;
}

.container {
  max-width: 948px;
  padding: 0 24px;
  margin-left: auto;
  margin-right: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.movies{
  padding: 80px 0;
}

.movies__list{
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  justify-content: space-around;
  list-style-type: none;
}

.movies__item{
  width: 240px;
}

.movie-card{
  position: relative;
  z-index: 2;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 50px;
}

.movie-card:hover{
  z-index: 5;
}

.movie-card__link{
  display: block;
  border-radius: 5px;
  overflow: hidden;
}

.movie-card__img{
  position: relative;
  z-index: 2;
  display: block;
  width: 240px;
  height: 370px;
  border-radius: 5px;
  object-fit: cover;
}

.movie-card__info{
  position: absolute;
  /* z-index: -1; */
  left: -20px;
  top: 20px;
  right: -20px;
  transform: scale(0);
  opacity: 0;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  padding-top: 370px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px;
  background-color: #fff;
  text-align: center;
  transition: transform 0.3s cubic-bezier(.7,1.71,.83,.67);
}

.movie-card__name{
  margin-top: 0;
  text-transform: uppercase;
}

.movie-card__tagline{
  margin-top: 0;
  color: #ccc;
}

.movie-card__prices{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
}

.movie-card__price--new{
  font-size: 24px;
  font-weight: bold;
  color: green;
  text-decoration: none;
}

.movie-card__price--old{
  color: #ccc;
}

.movie-card__btn{
  display: block;
  padding: 15px;
  margin-left: -20px;
  margin-right: -20px;
  color: #fff;
  background-color: #333;
  border-radius: 0 0 5px 5px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.movie-card:hover .movie-card__info{
  transform: scale(1);
  opacity: 1;
}

@media only screen and (max-width: 700px) {

  body{
    background-color: #ccc;
  }

  .movie-card{
    display: flex;
    justify-content: center;
    width: 100%;
    border-radius: 5px 0 0 5px;
  }

  .movie-card__link{
    border-radius: 5px 0 0 5px;
  }

  .movie-card__img{
    height: 250px;
    object-position: center top;
    border-radius: 5px 0 0 5px;
  }

  .movie-card__info{
    position: static;
    flex-grow: 1;
    padding-top: 20px;
    margin-left: 0;
    margin-right: 0;
    border-radius: 0 5px 5px 0;
    transform: scale(1);
    opacity: 1;
  }

  .movie-card__btn{
    border-radius: 0 0 5px 0;
  }
}